Repository Byndyusoft/awesome-byndyusoft-opensource: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier

docs: render PlantUML files
  docs/common.svg
  docs/documentation.svg
  docs/frontend.svg
  docs/nodejs.svg
Due: none

feat: add initial source
  .eslintrc.json
  .gitattributes
  .github/workflows/deploy.yaml
  .github/workflows/plantuml.yaml
  .github/workflows/test.yaml
  .lintstagedrc.yaml
  .markdownlint.yaml
  .releaserc.yaml
  README.md
  docs/common.puml
  docs/documentation.puml
  docs/frontend.puml
  docs/nodejs.puml
  index.js
  package.json
  yarn.lock
Due: markdownlint, prettier

feat: sync with repositories
  README.md
  docs/nodejs.puml
  package.json
  yarn.lock
Due: markdownlint, prettier

feat: add nest-swagger package
  README.md
  docs/nodejs.puml
Due: markdownlint, prettier

docs: render PlantUML files
  docs/nodejs.svg
Due: none

ci: ignore plantuml workflow on master branch
  .github/workflows/plantuml.yaml
Due: prettier

docs: remove plantuml workflow badge from readme
  README.md
Due: markdownlint, prettier

feat: add node-dto-factory package
  README.md
  docs/nodejs.puml
  package.json
  yarn.lock
Due: markdownlint, prettier

feat: extend node-pino-logger-factory from node-typescript-template
  docs/nodejs.puml
Due: none

feat: add node-reusable-workflows
  README.md
  docs/common.puml
  docs/nodejs.puml
Due: markdownlint, prettier

feat: add node-sonar-coverage-reporter
  README.md
  docs/nodejs.puml
Due: markdownlint, prettier

feat: add nest-kafka
  README.md
  docs/nodejs.puml
Due: markdownlint, prettier

chore: add dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier

feat: add nest-http-client
  README.md
  docs/nodejs.puml
Due: markdownlint, prettier

feat: add node-renovate-config
  README.md
  docs/nodejs.puml
Due: markdownlint, prettier

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{json,yaml,yml,md}
